@model LMS4Carroll.Models.Disposable

@{ 
    ViewData["Title"] = "Edit | Disposable";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-heading">Edit Disposables</div>
    <div class="panel-body">
        <br />
        <form asp-action="Edit">
            <div class="form-horizontal">
                <h4>Disposable</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DispoID" />
                <div class="form-group">
                    <label asp-for="DispoName" class="col-md-2 form-control-label required"></label>
                    <div class="col-md-10">
                        <input asp-for="DispoName" class="form-control" />
                        <span asp-validation-for="DispoName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Comments" class="col-md-2 form-control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Comments" class="form-control" />
                        <span asp-validation-for="Comments" class="text-danger" />
                    </div>
                </div>
                <div class="form-group" id="editbtn">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <a asp-action="Index" class="btn btn-danger">
                            <i class="glyphicon glyphicon-arrow-left"></i> Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}