@model string
@using LMS4Carroll.Models

@{
    ViewData["Title"] = "Delete | User";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Are you sure you want to delete this user?</div>
    <div class="panel-body">
        <br />
        <div>
            <hr />
            <h4>@Model</h4>
            <hr />
            <form asp-action="DeleteUser" id="deletebtn">
                <div class="form-actions no-color">
                    <a asp-action="Index" class="btn btn-default">
                        <i class="glyphicon glyphicon-arrow-left"></i> Back to List
                    </a>
                    <input type="submit" value="DeleteUser" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>


@*
<form asp-action="DeleteUser" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete User" })

    <div class="modal-body form-horizontal">
        Are you want to delete @Model?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })
</form>
*@